<footer>
  <div class="footerInner">
    <div class="footerList">
      <ul>
        <li><strong>협회 소개</strong></li>
        <li><a href="/intro">인사말</a></li>
        <li><a href="/preparing">설립 근거 및 목적</a></li>
        <li><a href="/preparing">협회연혁</a></li>
        <li><a href="/preparing">조직구성</a></li>
        <li><a href="/preparing">임원현황</a></li>
        <li><a href="/preparing">CI소개</a></li>
        <li><a href="/preparing">협회소식</a></li>
        <li><a href="/preparing">찾아오시는 길</a></li>
      </ul>
      <ul>
        <li><strong>주요사업</strong></li>
        <li><a href="/preparing">자원순환 정책지원</a></li>
        <li><a href="/preparing">자원순환 교육</a></li>
        <li><a href="/preparing">자원순환 문화홍보</a></li>
        <li><a href="/preparing">자원순환 기술·정보교류</a></li>
        <li><a href="/preparing">연구·평가·경진대회</a></li>
        <li><a href="/preparing">자원순환 정보보급</a></li>
      </ul>
      <ul>
        <li><strong>회원 정보</strong></li>
        <li><a href="/kwauser">회원 현황</a></li>
        <li><a href="/preparing" class="m">회원 가입 안내</a></li>
        <li><strong>자료실</strong></li>
        <li><a href="/preparing">국내 자료</a></li>
        <li><a href="/preparing">해외 자료</a></li>
        <li><a href="/preparing">정기 간행물</a></li>
      </ul>
      <ul>
        <li><strong>자원 순환 정보</strong></li>
        <li><a href="/notice">공지사항</a></li>
        <li><a href="/preparing">폐기물 통계</a></li>
        <li><a href="/preparing">폐기물처리업체 현황</a></li>
        <li><a href="/preparing">폐기물처리 및 재활용방법</a></li>
        <li><a href="/preparing">지자체 폐기물처리 시설 현황</a></li>
        <li><a href="/preparing">법령정보</a></li>
        <li><a href="/preparing">자원순환소식</a></li>
        <li><a href="/preparing">자원순환 동영상</a></li>
        <li><a href="/preparing">국내·외 유관 웹사이트</a></li>
      </ul>
      <ul>
        <li><strong>자원 순환 교육</strong></li>
        <li><a href="/preparing">교육 안내</a></li>
        <li><a href="/preparing">폐기물담당자 법정교육</a></li>
        <li><a href="/preparing">지자체 자원순환 직무교육</a></li>
        <li><a href="/preparing">재직자 전문교육</a></li>
        <li><a href="/preparing">초등학교 분리배출 체험교실</a></li>
        <li><a href="/preparing">세미나·발표회·설명회</a></li>
      </ul>
    </div>
    <ul class="footermiddle">
      <li><a href="/preparing">개인정보 처리방침</a></li>
      <li>|</li>
      <li><a href="/preparing">회원가입 신청하기</a></li>
      <li>|</li>
      <li><a href="/preparing">FAQ</a></li>
    </ul>
    <div class="footerBottom">
      <p>©Korea Waste Association   2022</p>
    </div>
  </div>

</footer>