<div class="dividerWrap">
  <section class="divider">
      <strong>인사말</strong>
      <p>한국 폐기물 협회에 오신 것을 환영합니다.</p>
  </section>
</div>
<div class="introWrap">
  
  <section class="introCon1">
    <strong>깨끗한 환경, 폐기물을 자원으로</strong>
    <p>한국 폐기물 협회가 자원 순환에 앞장서겠습니다.</p>
    <img src="img/introImg.png" alt="">
  </section>
  <section class="introCon2">
    <div class="con2Flex">
      <div class="flexIn">
        <strong>현재 무분별한 쓰레기처리는 가장 큰 이슈입니다.</strong>
        <p>최근 우리나라 페비닐 수거 거부 사태, 폐기물의 불법 수출, 폐기물의 불법 방치 등 해결해야할 여러 이슈가 발생하고 있는 것은
          폐기물 배출업체, 재활용업체, 처리업체와 정책을 수립하고 지원하는 정부와 지방자치단체의 역할이 유기적으로
          작동하지 못한 측면이 있습니다. 
        </p>
      </div>
      <div class="flexIn">
        <img src="img/garbage-g379934071_1920.jpg" alt="">
      </div>
    </div>
    <div class="con2Flex">
      <div  class="flexIn"><img src="img/teamwork-gbec680a16_1920.jpg" alt=""></div>
      <div  class="flexIn">
        <strong>KWA는 문제를 해결하기 위해 힘쓰겠습니다.</strong>
        <p>이러한 문제를 해소하기 위해서는 일선 현장 상황에 기반하여 자원순환 정책이
          수립외어 집행되고 폐기물 분야의 이해관계자가 폐기물의 안전한 처리체계 구축을 
          기반으로 물질과 에너지 자원으로 이용할 수 있는 폐자원은 최대한 순환 이용하기 위해 각자의
          역할을 충실히 수행하여야 합니다.
        </p>
      </div>
    </div>
  </section>
  <section class="introCon3">
    <strong>미래를 위해 자원을 소중히 합니다.</strong>
    <p>자원이 부족한 우리나라는 자원의 생산성을 높이기 위해 폐기물의 발생을 원천적으로 줄이고,
      재사용과 재활용, 폐기물 에너지의 회수 및 이용을 활성화하며 자원 순환 사회로 탈바꿈하여
      자원 부족과 기후면화 문제를 함께 해결해 나가야 합니다.
    </p>
    <div class="fix_bg"></div>
  </section>
  <section class="introCon4"></section>
</div>