<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/headerChanger.js"></script>

  <link rel="stylesheet" href="css/common.css">
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <!-- <link rel="stylesheet" href="css/reset.css"> -->
  <title>한국폐기물협회</title>
</head>

<body>
  <div class="wrap">
    <% if(headerSW==true){ %> 
    <div id="header">
      <%- include('header') %>
    </div>
    <% } else{} %> 
    <% if(subH==true){ %>
      <%- include('navBar') %> 
        <% } else{%>
        <% } %>
    <main>
      <%- body %>
    </main>
    <% if(footerSW==true){ %> 
      <div id="footer">
        <%- include('footer') %>
      </div>
      <% } else{} %> 
    
  </div>
</body>

</html>