<nav class="dd">
  <div class="innerNav">
    <div class="homeBtn">
      <a href="./"><img src="img/icons8-home-page-24.png" alt="홈버튼"></a>
    </div>
    <!-- 자원순환 정보 -->
    <% if(category=='notice'){ %> 
    <div class="dep1">
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn db1">자원 순환 정보 <span><i class="arrow down"></i></span></button>
        <div id="myDropdown1" class="dropdown-content dc1">
          <a href="/intro">협회 소개</a>
          <a href="#">주요 사업</a>
          <a href="/kwauser">회원 정보</a>
          <a href="#">자료실</a>
          <a href="/notice">자원 순환 정보</a>
          <a href="#">자원 순환 교육</a>
        </div>
      </div>
    </div>
    <div class="dep2">
      <div class="dropdown">
        <button onclick="myFunction2()" class="dropbtn db2">공지사항 <span><i class="arrow down"></i></span></button>
        <div id="myDropdown2" class="dropdown-content dc2">
          <a href="/notice">공지사항</a>
          <a href="#">폐기물 통계</a>
          <a href="#">폐기물처리업체 현황</a>
          <a href="#">폐기물처리 및 재활용방법</a>
          <a href="#">지자체 폐기물처리 시설 현황</a>
          <a href="#">법령정보</a>
          <a href="#">자원순환소식</a>
          <a href="#">자원순환 동영상</a>
          <a href="#">국내·외 유관 웹사이트</a>
        </div>
      </div>
    </div>
    <% } %> 
    <!-- 협회소개 -->
    <% if(category=='intro'){ %> 
    <div class="dep1">
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn db1">협회 소개 <span><i class="arrow down"></i></span></button>
        <div id="myDropdown1" class="dropdown-content dc1">
          <a href="/intro">협회 소개</a>
          <a href="#">주요 사업</a>
          <a href="/kwauser">회원 정보</a>
          <a href="#">자료실</a>
          <a href="/notice">자원 순환 정보</a>
          <a href="#">자원 순환 교육</a>
        </div>
      </div>
    </div>
    <div class="dep2">
      <div class="dropdown">
        <button onclick="myFunction2()" class="dropbtn db2">인사말 <span><i class="arrow down"></i></span></button>
        <div id="myDropdown2" class="dropdown-content dc2">
          <a href="/intro">인사말</a>
          <a href="#">설립 근거 및 목적</a>
          <a href="#">협회연혁</a>
          <a href="#">조직구성</a>
          <a href="#">임원현황</a>
          <a href="#">CI소개</a>
          <a href="#">협회소식</a>
          <a href="#">찾아오시는 길</a>
        </div>
      </div>
    </div>
    <% } %> 
    <% if(category=='KWAUser'){ %> 
    <div class="dep1">
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn db1">회원 정보 <span><i class="arrow down"></i></span></button>
        <div id="myDropdown1" class="dropdown-content dc1">
          <a href="/intro">협회 소개</a>
          <a href="#">주요 사업</a>
          <a href="/kwauser">회원 정보</a>
          <a href="#">자료실</a>
          <a href="/notice">자원 순환 정보</a>
          <a href="#">자원 순환 교육</a>
        </div>
      </div>
    </div>
    <div class="dep2">
      <div class="dropdown">
        <button onclick="myFunction2()" class="dropbtn db2">회원 현황 <span><i class="arrow down"></i></span></button>
        <div id="myDropdown2" class="dropdown-content dc2">
          <a href="/kwauser">회원현황</a>
          <a href="#">회원가입 안내</a>
        </div>
      </div>
    </div>
    <% } %> 
  </div>
</nav>


<script src="js/dropNav.js"></script>