.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 99999;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: rgba(17, 17, 17, 0.932);
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */

}

.sidenav hr {
  width: 300px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #c7c7c7;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

.sidenav a.log {
  font-size: 16px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}



body {
  font-family: 'Noto Sans KR', sans-serif !important;
}

a {
  text-decoration: none;
  color: black;
}

.icon {
  width: 24px;
  height: 24px;
}

.wrap {
  width: 100%;
  overflow-x: hidden;
}
#header{
overflow-y: hidden;
}
/* #header:after {
  content: '';
  display: block;
  clear: both;
} */

header {
  width: 100%;
  z-index: 100;
  position: absolute;
}

nav.navwrap {
  width: 100%;
  z-index: 2;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: fixed;
  transition: Height 0.5s;
}

.nav {
  display: flex;
  height: 48px;
  justify-content: space-between;
  align-items: center;
}

.menuwrap {
  display: flex;
  align-items: center;
  z-index: 999;
  cursor: pointer;
}

.searchwrap {
  z-index: 999;
  display: flex;
  align-items: center;
}

.ham {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.menu {
  color: #fff;
}

.logowrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  position: absolute;
   /* position: fixed; */
   top: 32px;
   transition: top 0.5s;
   padding-bottom: 10px;
}

.long-line {
  width: 70%;
  height: 2px;
  background-color: #fff;
}

.short-line {
  width: 30%;
  height: 2px;
  background-color: #fff;
}

.logoimg {
  height: 56px;
}

.logo {
  margin: 0 10px;
}

.subActive {
  filter: invert(100%);
  position: absolute;
  /* background-color: #146356; */
}

.subActive .logoimg {
  height: 44px;
}

.subActive2 {
  /* filter: invert(100%); */
  bottom: -40px !important;
  /* background-color: #146356; */
  padding-bottom: 15px;
  top: 57px;
}
.invert{
  filter: invert(100%);
}
.backWhite{
  background-color: rgba(255, 255, 255, 0.98)
}
.height100{
  height: 100px;

}
@media(max-width:960px) {
  .long-line {
    width: 50%;
  }

  .short-line {
    width: 50%;
  }

  .logoimg {
    height: 40px;
  }

  .logowrap {
    /* bottom: -24px; */
    /* top: 32px; */
  }
}